/**/*.swp
/**/*.user
/**/.dockerignore
/**/.graphqlconfig
/**/.graphqlrc.json
/**/.idea/
/**/.vs/
/**/_ReSharper.Caches/
/**/appsettings.Development.json
/**/bin/
/**/Dockerfile
/**/Generated/
/**/local.settings.json
/**/mono_crash.mem.*
/**/obj/
/**/schema.extensions.graphql
/**/schema.graphql
/**/~$*
/.config/dotnet-tools.json