:root {
    color-scheme: dark;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #444;
    overflow-y: scroll;
    height: 100vh;
}

canvas {
    display: block;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.maincode-body {
    margin: auto;
}

.p-card h1,
.p-card h2,
.p-card h3,
.p-card h4,
.p-card h5 {
    margin: 30px 0 20px 0;
}

.p-card h1:first-child {
    margin-top: 0;
}

.p-card p {
    margin-bottom: 0.75em;
}

.p-card a,
.p-card a:active,
.p-card a:visited {
    color: #fff;
}

.p-card blockquote {
    font-style: italic;
}

.CodeMirror {
    font-family: monospace !important;
    font-size: 16px !important;
    /*height: calc(100vh - 87px - 49px - 16px - 42px - 16px) !important;*/
    height: calc(736px - 256px) !important;
}

.p-tabview-panels {
    padding: 8px 0 0 0 !important;
}
