* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    background-color: #444;
}

canvas {
    display: block;
}

.CodeMirror {
    font-family: monospace !important;
    font-size: 20px;
    height: calc(100vh - 87px - 49px - 16px - 42px - 16px) !important;
    padding: 1px;
    background-color: #DDD !important;
    border-radius: 4px;
}

.CodeMirror-focused {
    border-color: #FFF !important;
    outline: 0 none;
    -webkit-box-shadow: 0 0 0 0.1em #FFF;
    -moz-box-shadow: 0 0 0 0.1em #FFF;
    box-shadow: 0 0 0 0.1em #FFF;
    transition: border-color 0.2s, box-shadow 0.2s;
    border-radius: 2px;
}

.p-tabview-panels {
    padding: 8px 0 0 0 !important;
}
